* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body {
    color: #ededed;
    background: #051129;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
    font-size: 25px;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: #051129;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;

}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: #0ef;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;

}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29 letter-spacing 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slideTop 1s ease forwards;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.about {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: #051129;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}



.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text p {
    margin: 30px 15px 30px 0;
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4 rem;

}

.button {
    margin: 30px 15px 30px 0;
}

span {
    color: #0ef;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.skills-section {
    position: relative;
    width: 100%;
    justify-content: space-between;
    background: #051129;
    display: grid;
    align-items: center;
    padding: 90px 10% 0;
    margin-bottom: 5rem;

}

.skills-section h1 {

    font-size: 60px;
    margin-bottom: 3rem;
    text-align: left;
    font-size: 60px;
    margin-bottom: 2rem;
    
}

.skill-category {
    margin-bottom: 4rem;
    justify-content: space-between;
    flex: 1;
    min-width: 300px;
    width: 48%;
    



}
.skill-category h2 {
    margin: 0 0 2rem 0;
    font-size: 1.8rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    color: white
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 12rem;
    flex-wrap: wrap;
}


.skill {
    margin-bottom: 1.5rem;
    padding-left: 1rem;

}

.skill span {
    color: aliceblue;
    display: inline-block;
    width: 120px;
    font-weight: bold;

}


.percentage-label {
    margin-left: 10px;
    color: #0ef;
    font-size: 0.9rem;
}

.progress-container {
    margin-left: 0;
    width: 100%;
}

.progress-bar {
    height: 12px;
    background-color: #0a2a3d;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.bar-fill {
    height: 100%;
    background-color: #0ef;
    width: 0;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}

@media (max-width: 768px) {
    .skills-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .skill-category {
        width: 100%;
    }
}


/* Section styling */
.projects-section {

    position: relative;
    width: 100%;
    justify-content: space-between;
    background: #051129;
    display: grid;
    align-items: center;
    padding: 90px 10% 0;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.projects-section h1 {
    font-size: 60px;
    margin-bottom: 3rem;
}

.projects-section h1 span {
    color: #0ef;
}

.section-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #0ef;
}

/* Grid layout */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
}

/* Project card */
.project-card {
    background-color: #0a2a3d;
    border: 1px solid #0ef;
    border-radius: 12px;
    box-shadow: 0 0 15px #0ef;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #0ef;
}

/* Text content */
.project-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: white;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: aliceblue;
}

.tech-stack {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: aliceblue;
}

/* Button styling */
.project-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid #0ef;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.project-link:hover {
    background-color: #0ef;
    color: #081b29;
}

/* Animation classes */
.project-card.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
}

.project-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.skills-section,
.projects-section {
    height: auto;
}

.resume-section {
    background-color: #051129;
    padding: 90px 10%;
    color: white;
    text-align: left;
    margin-top: 15rem;
}


.resume-section h1 {
    font-size: 60px;
    margin-bottom: 3rem;
    text-align: left;
    
}


.resume-section h1 span {
    color: #0ef;
}

.resume-box {
    background-color: #0a2a3d;
    border: 1px solid #0ef;
    border-radius: 12px;
    padding: 2rem;
    width: 600px;
    margin: 2rem 0 4rem 0;
    box-shadow: 0 0 15px #0ef ;
    text-align: left;
}

.resume-box p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: white;
}

.resume-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.resume-download-btn {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background-color: transparent;
    border: 2px solid #0ef;
    color: aliceblue;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.resume-download-btn:hover {
    background-color: #0ef;
    color: #081b29;
}

.contact-section {
    
    padding: 100px 10% 60px;
    background-color: #051129;
    color: white;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.contact-section h1 {
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
}

.contact-section h1 span {
    color: #0ef;
}


.contact-container {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    background-color: #0a2a3d;
    padding: 30px;
    border: 1px solid #0ef;
    border-radius: 12px;
    box-shadow: 0 0 15px #0ef;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: transparent;
    border: 1px solid #0ef;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #ccc;
}

.contact-form button {
    background: #0ef;
    color: #081b29;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: transparent;
    border: 1px solid #0ef;
    color: #0ef;
}


.social-links {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}

.social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: 0.3s;
}

.social-links a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.footer {
    background: #051129;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    margin-top: 60px;
    border-top: 1px solid #0ef;
}

.footer p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #0ef;
    font-size: 24px;
    transition: 0.3s ease;
}

.footer-icons a:hover {
    color: white;
    transform: translateY(-3px);
}
#backToTopBtn {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0ef;
    color: #081b29;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 0 0 15px #0ef;
    display: none; 
    transition: 0.3s ease;
}

#backToTopBtn:hover {
    background-color: white;
    color: #0ef;
}


@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }

}

@keyframes slideBottom {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }

}
